Q1.How many patients were registered in each unique occupation?

In [2]:
import pandas as pd

In [3]:
df_Demography=pd.read_excel("Cardiac_Outcomes.xlsx","Demography")

In [5]:
df_Demography=df_Demography['occupation'].value_counts().to_frame('count')

In [6]:
df_Demography

               count
occupation
UrbanResident   1670
farmer           198
Others            89
worker            17
Officer            7

Q2. Divide GCS scores into slabs of 5 and count the number of patients under each band of score. Show this as any graph of your choice

Q3.Add a calculated column called Discharge date into the Hospitalization_Discharge using the information already available to you

In [9]:
df_discharge=pd.read_excel("Cardiac_Outcomes.xlsx","Hospitalization_Discharge")

In [10]:
df_discharge

,inpatient_number,DestinationDischarge,admission_ward,admission_way,discharge_department,visit_times,respiratory_support,oxygen_inhalation,dischargeDay,Admission_date,...,death_within_28_days,re_admission_within_28_days,death_within_3_months,re_admission_within_3_months,death_within_6_months,re_admission_within_6_months,time_of_death__days_from_admission,readmission_time_days_from_admission,return_to_emergency_department_within_6_months,time_to_emergency_department_within_6_months
0,857781,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,11,2017-01-24,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
1,743087,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,8,2017-05-05,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2,866418,Home,Cardiology,NonEmergency,Cardiology,2,NaN,OxygenTherapy,5,2016-11-18,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
3,775928,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,11,2017-10-02,...,0,1,0,1,0,1,NaN,19.0,1.0,19.0
4,810128,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,5,2019-11-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,5,2016-02-07,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2004,734280,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,8,2017-03-29,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2005,781004,HealthcareFacility,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,14,2018-01-22,...,0,0,0,1,0,1,NaN,76.0,1.0,76.0
2006,744870,Unknown,Cardiology,NonEmergency,Cardiology,1,IMV,OxygenTherapy,1,2019-11-27,...,1,0,1,0,1,0,1.0,NaN,0.0,NaN
2007,791864,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,6,2017-02-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN

In [26]:
df_discharge=df_discharge.assign(Discharge_date=pd.to_datetime(df_discharge['Admission_date']) + pd.to_timedelta(df_discharge['dischargeDay'],'d'))

In [27]:
df_discharge

,inpatient_number,DestinationDischarge,admission_ward,admission_way,discharge_department,visit_times,respiratory_support,oxygen_inhalation,dischargeDay,Admission_date,...,re_admission_within_28_days,death_within_3_months,re_admission_within_3_months,death_within_6_months,re_admission_within_6_months,time_of_death__days_from_admission,readmission_time_days_from_admission,return_to_emergency_department_within_6_months,time_to_emergency_department_within_6_months,Discharge_date
0,857781,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,11,2017-01-24,...,0,0,0,0,0,NaN,NaN,0.0,NaN,2017-02-04
1,743087,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,8,2017-05-05,...,0,0,0,0,0,NaN,NaN,0.0,NaN,2017-05-13
2,866418,Home,Cardiology,NonEmergency,Cardiology,2,NaN,OxygenTherapy,5,2016-11-18,...,0,0,0,0,0,NaN,NaN,0.0,NaN,2016-11-23
3,775928,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,11,2017-10-02,...,1,0,1,0,1,NaN,19.0,1.0,19.0,2017-10-13
4,810128,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,5,2019-11-17,...,0,0,0,0,0,NaN,NaN,0.0,NaN,2019-11-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,5,2016-02-07,...,0,0,0,0,0,NaN,NaN,0.0,NaN,2016-02-12
2004,734280,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,8,2017-03-29,...,0,0,0,0,0,NaN,NaN,0.0,NaN,2017-04-06
2005,781004,HealthcareFacility,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,14,2018-01-22,...,0,0,1,0,1,NaN,76.0,1.0,76.0,2018-02-05
2006,744870,Unknown,Cardiology,NonEmergency,Cardiology,1,IMV,OxygenTherapy,1,2019-11-27,...,0,1,0,1,0,1.0,NaN,0.0,NaN,2019-11-28
2007,791864,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,6,2017-02-17,...,0,0,0,0,0,NaN,NaN,0.0,NaN,2017-02-23

Q4.What percentage of patients had Biventricular heart failure?

In [38]:
import pandas as pd

In [29]:
df_Cardiac=pd.read_excel("Cardiac_Outcomes.xlsx","CardiacComplications")

In [30]:
df_Cardiac

,inpatient_number,NYHA_cardiac_function_classification,Killip_grade,myocardial_infarction,congestive_heart_failure,peripheral_vascular_disease,type_of_heart_failure,LVEF,left_ventricular_end_diastolic_diameter_LV,mitral_valve_EMS,mitral_valve_AMS,EA,tricuspid_valve_return_velocity,tricuspid_valve_return_pressure
0,857781,3,3,0,0,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,743087,3,1,0,0,0,Both,NaN,40.0,1.16,1.52,NaN,3.34,47.0
2,866418,2,2,0,0,0,Both,NaN,46.0,0.84,0.12,7.00,2.80,32.0
3,775928,3,2,0,0,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,810128,3,2,0,0,0,Both,NaN,64.0,1.20,0.90,1.33,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,4,1,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,734280,4,2,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,2.78,NaN
2005,781004,3,1,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,744870,4,4,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,791864,3,1,0,1,0,Left,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_Cardiac['type_of_heart_failure'].value_counts()*100

type_of_heart_failure
Both     148000
Left      47700
Right      5100
Name: count, dtype: int64

In [36]:
(df_Cardiac['type_of_heart_failure'].value_counts()/df_Cardiac['type_of_heart_failure'].count())*100

type_of_heart_failure
Both     73.705179
Left     23.754980
Right     2.539841
Name: count, dtype: float64

In [52]:
df_Cardiac.groupby('type_of_heart_failure').get_group('Both')

,inpatient_number,NYHA_cardiac_function_classification,Killip_grade,myocardial_infarction,congestive_heart_failure,peripheral_vascular_disease,type_of_heart_failure,LVEF,left_ventricular_end_diastolic_diameter_LV,mitral_valve_EMS,mitral_valve_AMS,EA,tricuspid_valve_return_velocity,tricuspid_valve_return_pressure
0,857781,3,3,0,0,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,743087,3,1,0,0,0,Both,NaN,40.0,1.16,1.52,NaN,3.34,47.0
2,866418,2,2,0,0,0,Both,NaN,46.0,0.84,0.12,7.00,2.80,32.0
3,775928,3,2,0,0,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,810128,3,2,0,0,0,Both,NaN,64.0,1.20,0.90,1.33,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002,754589,3,2,0,1,0,Both,45.0,51.0,NaN,NaN,NaN,4.00,NaN
2003,740689,4,1,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,734280,4,2,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,2.78,NaN
2005,781004,3,1,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,744870,4,4,0,1,0,Both,NaN,NaN,NaN,NaN,NaN,NaN,NaN

5.What is the ratio of patients who were responsive to pain vs responsive to sound?

In [40]:
df_responsiveness=pd.read_excel("Cardiac_Outcomes.xlsx","Responsivenes")

In [41]:
df_responsiveness

,inpatient_number,eye_opening,verbal_response,movement,consciousness,GCS
0,857781,4,5,6,Clear,15
1,743087,4,5,6,Clear,15
2,866418,4,5,6,Clear,15
3,775928,4,5,6,Clear,15
4,810128,4,5,6,Clear,15
...,...,...,...,...,...,...
2003,740689,4,5,6,Clear,15
2004,734280,4,5,6,Clear,15
2005,781004,4,5,6,Clear,15
2006,744870,1,1,1,Nonresponsive,3
2007,791864,4,5,6,Clear,15

In [43]:
df_responsiveness['consciousness'].value_counts()

consciousness
Clear                1974
ResponsiveToSound      19
Nonresponsive          11
ResponsiveToPain        4
Name: count, dtype: int64

In [44]:
x=df_responsiveness['consciousness'].value_counts()

In [50]:
x

consciousness
Clear                1974
ResponsiveToSound      19
Nonresponsive          11
ResponsiveToPain        4
Name: count, dtype: int64

Q6.What was the average age group of the patients that had an outcome of 'Alive'?

In [59]:
import pandas as pd
import numpy as np
xls = pd.ExcelFile('Cardiac_Outcomes.xlsx')

In [60]:
xls

In [65]:
df1 = pd.read_excel(xls, 'Hospitalization_Discharge')
df2 = pd.read_excel(xls, 'Demography')

In [72]:
df_merged = pd.concat([df1, df2], axis=1)

In [73]:
df_merged

,inpatient_number,DestinationDischarge,admission_ward,admission_way,discharge_department,visit_times,respiratory_support,oxygen_inhalation,dischargeDay,Admission_date,...,readmission_time_days_from_admission,return_to_emergency_department_within_6_months,time_to_emergency_department_within_6_months,inpatient_number,gender,weight,height,BMI,occupation,ageCat
0,857781,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,11,2017-01-24,...,NaN,0.0,NaN,857781,Male,50.0,1.64,18.590125,UrbanResident,69-79
1,743087,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,8,2017-05-05,...,NaN,0.0,NaN,743087,Female,51.0,1.63,19.195303,UrbanResident,69-79
2,866418,Home,Cardiology,NonEmergency,Cardiology,2,NaN,OxygenTherapy,5,2016-11-18,...,NaN,0.0,NaN,866418,Male,70.0,1.70,24.221453,farmer,59-69
3,775928,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,11,2017-10-02,...,19.0,1.0,19.0,775928,Male,65.0,1.70,22.491349,UrbanResident,69-79
4,810128,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,5,2019-11-17,...,NaN,0.0,NaN,810128,Female,76.0,1.55,31.633715,UrbanResident,69-79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,5,2016-02-07,...,NaN,0.0,NaN,740689,Female,35.0,1.50,15.555556,Others,79-89
2004,734280,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,8,2017-03-29,...,NaN,0.0,NaN,734280,Female,50.0,1.55,20.811655,UrbanResident,79-89
2005,781004,HealthcareFacility,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,14,2018-01-22,...,76.0,1.0,76.0,781004,Male,75.0,1.70,25.951557,UrbanResident,39-49
2006,744870,Unknown,Cardiology,NonEmergency,Cardiology,1,IMV,OxygenTherapy,1,2019-11-27,...,NaN,0.0,NaN,744870,Male,40.0,1.50,17.777778,UrbanResident,49-59
2007,791864,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,6,2017-02-17,...,NaN,0.0,NaN,791864,Female,45.0,1.55,18.730489,UrbanResident,79-89

In [74]:
df_merged.groupby('outcome_during_hospitalization').get_group('Alive')

,inpatient_number,DestinationDischarge,admission_ward,admission_way,discharge_department,visit_times,respiratory_support,oxygen_inhalation,dischargeDay,Admission_date,...,readmission_time_days_from_admission,return_to_emergency_department_within_6_months,time_to_emergency_department_within_6_months,inpatient_number,gender,weight,height,BMI,occupation,ageCat
0,857781,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,11,2017-01-24,...,NaN,0.0,NaN,857781,Male,50.0,1.64,18.590125,UrbanResident,69-79
1,743087,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,8,2017-05-05,...,NaN,0.0,NaN,743087,Female,51.0,1.63,19.195303,UrbanResident,69-79
2,866418,Home,Cardiology,NonEmergency,Cardiology,2,NaN,OxygenTherapy,5,2016-11-18,...,NaN,0.0,NaN,866418,Male,70.0,1.70,24.221453,farmer,59-69
3,775928,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,11,2017-10-02,...,19.0,1.0,19.0,775928,Male,65.0,1.70,22.491349,UrbanResident,69-79
4,810128,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,5,2019-11-17,...,NaN,0.0,NaN,810128,Female,76.0,1.55,31.633715,UrbanResident,69-79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,726701,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,10,2016-07-09,...,46.0,1.0,46.0,726701,Male,60.0,1.60,23.437500,UrbanResident,79-89
2002,754589,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,8,2017-06-12,...,NaN,0.0,NaN,754589,Female,52.5,1.53,22.427272,UrbanResident,69-79
2004,734280,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,8,2017-03-29,...,NaN,0.0,NaN,734280,Female,50.0,1.55,20.811655,UrbanResident,79-89
2005,781004,HealthcareFacility,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,14,2018-01-22,...,76.0,1.0,76.0,781004,Male,75.0,1.70,25.951557,UrbanResident,39-49
2007,791864,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,6,2017-02-17,...,NaN,0.0,NaN,791864,Female,45.0,1.55,18.730489,UrbanResident,79-89

In [81]:
Avg_age = df_merged['ageCat'].mean()

TypeError: Could not convert string '69-7969-7959-6969-7969-7979-8979-8969-7979-8969-7949-5989-11079-8949-5979-8989-11079-8979-8959-6949-5969-7969-7979-8959-6959-6969-7959-6979-8969-7979-8979-8989-11079-8979-8969-7989-11079-8969-7959-6979-8979-8979-8959-6969-7959-6949-5979-8969-7979-8979-8979-8959-6979-8969-7959-6979-8979-8969-7979-8969-7979-8969-7979-8979-8979-8979-8969-7989-11069-7979-8969-7969-7979-8929-3969-7969-7959-6969-7969-7979-8959-6969-7979-8969-7979-8969-7949-5989-11079-8979-8969-7939-4969-7969-7979-8969-7959-6959-6979-8989-11069-7969-7979-8979-8979-8969-7979-8979-8959-6969-7969-7979-8969-7969-7969-7989-11059-6979-8959-6979-8959-6969-7969-7989-11079-8979-8979-8979-8979-8979-8979-8949-5959-6969-7979-8969-7959-6969-7939-4989-11069-7959-6969-7969-7969-7969-7949-5979-8979-8979-8969-7979-8979-8979-8969-7959-6979-8959-6979-8979-8959-6979-8969-7969-7959-6979-8979-8979-8969-7979-8949-5979-8979-8969-7969-7959-6959-6979-8979-8959-6979-8979-8969-7979-8969-7949-5969-7949-5969-7969-7969-7959-6979-8939-4989-11069-7959-6979-8989-11069-7959-6969-7979-8959-6949-5969-7959-6979-8979-8969-7939-4959-6969-7979-8969-7989-11059-6959-6959-6969-7989-11069-7989-11059-6959-6979-8969-7959-6969-7979-8969-7979-8969-7969-7969-7979-8949-5969-7979-8969-7969-7979-8959-6989-11069-7979-8979-8939-4979-8949-5969-7969-7979-8979-8969-7979-8979-8929-3969-7979-8959-6989-11079-8979-8969-7969-7949-5959-6959-6979-8969-7921-2959-6969-7969-7979-8979-8969-7969-7969-7979-8979-8959-6979-8979-8979-8959-6979-8979-8969-7959-6969-7949-5969-7979-8969-7979-8949-5979-8979-8969-7969-7959-6979-8969-7989-11069-7969-7969-7969-7969-7969-7959-6969-7939-4979-8969-7979-8969-7949-5929-3969-7989-11069-7979-8979-8979-8959-6979-8959-6979-8959-6979-8969-7959-6979-8989-11079-8979-8959-6959-6979-8969-7979-8969-7969-7969-7969-7969-7969-7979-8959-6989-11079-8969-7959-6979-8969-7969-7979-8969-7979-8959-6979-8969-7979-8969-7969-7969-7989-11069-7969-7979-8969-7959-6969-7949-5949-5979-8969-7939-4979-8979-8979-8969-7969-7979-8959-6969-7979-8979-8969-7959-6959-6989-11069-7979-8969-7979-8959-6949-5959-6959-6979-8979-8939-4989-11059-6969-7969-7959-6969-7969-7979-8979-8979-8979-8969-7969-7959-6969-7969-7979-8969-7969-7959-6969-7959-6969-7969-7979-8979-8959-6959-6979-8969-7969-7979-8949-5959-6969-7969-7969-7979-8989-11079-8969-7969-7989-11069-7969-7959-6979-8959-6969-7969-7969-7979-8949-5959-6989-11079-8959-6979-8959-6969-7979-8979-8979-8939-4969-7989-11069-7959-6959-6959-6959-6959-6989-11069-7959-6959-6979-8959-6969-7939-4969-7969-7979-8969-7939-4969-7959-6969-7969-7959-6979-8979-8979-8979-8959-6979-8979-8979-8979-8979-8969-7959-6969-7969-7969-7979-8959-6979-8969-7979-8979-8959-6989-11049-5979-8969-7989-11059-6959-6939-4969-7969-7979-8979-8969-7969-7969-7979-8959-6979-8969-7989-11069-7969-7979-8959-6969-7949-5969-7979-8959-6969-7979-8979-8979-8969-7979-8979-8959-6969-7979-8969-7979-8969-7979-8979-8979-8949-5939-4949-5959-6979-8979-8959-6969-7969-7959-6959-6989-11079-8969-7979-8969-7969-7979-8969-7969-7969-7939-4979-8969-7979-8949-5969-7959-6959-6969-7979-8979-8969-7959-6959-6979-8969-7979-8959-6959-6969-7979-8979-8969-7979-8989-11079-8989-11089-11059-6969-7969-7979-8979-8969-7989-11059-6969-7969-7959-6969-7979-8959-6969-7979-8979-8979-8979-8979-8969-7969-7979-8979-8959-6959-6949-5959-6969-7959-6979-8979-8969-7969-7979-8989-11069-7959-6979-8979-8959-6979-8969-7969-7979-8969-7969-7959-6949-5979-8959-6989-11069-7969-7969-7969-7979-8979-8979-8959-6929-3969-7959-6969-7979-8969-7989-11069-7979-8989-11049-5969-7969-7979-8959-6959-6979-8969-7979-8969-7989-11079-8979-8939-4979-8979-8979-8979-8959-6969-7959-6969-7959-6989-11069-7979-8959-6979-8969-7979-8979-8969-7979-8959-6979-8979-8989-11069-7969-7979-8979-8979-8979-8979-8959-6989-11069-7959-6969-7979-8979-8949-5969-7969-7969-7959-6959-6969-7969-7949-5969-7959-6939-4979-8979-8969-7979-8969-7959-6959-6979-8989-11069-7979-8959-6979-8969-7949-5939-4969-7979-8939-4979-8969-7979-8989-11059-6969-7979-8969-7969-7979-8979-8949-5969-7979-8949-5979-8979-8969-7959-6969-7979-8979-8949-5979-8989-11059-6969-7989-11079-8979-8959-6979-8979-8939-4949-5969-7969-7959-6959-6979-8979-8969-7969-7969-7969-7969-7959-6969-7969-7969-7949-5969-7979-8979-8979-8969-7979-8959-6959-6959-6939-4959-6949-5969-7969-7949-5969-7979-8969-7969-7979-8979-8959-6979-8949-5939-4979-8989-11079-8939-4979-8969-7969-7959-6979-8989-11039-4979-8969-7979-8949-5959-6959-6979-8959-6959-6959-6979-8969-7969-7969-7979-8969-7979-8989-11069-7959-6969-7969-7969-7969-7959-6969-7929-3969-7969-7979-8979-8959-6949-5949-5979-8959-6969-7969-7979-8969-7969-7969-7979-8969-7959-6959-6989-11059-6979-8989-11069-7979-8979-8959-6979-8979-8979-8969-7979-8979-8959-6969-7979-8969-7969-7979-8969-7979-8959-6969-7959-6949-5969-7979-8949-5949-5979-8969-7979-8959-6969-7979-8969-7969-7969-7959-6959-6979-8959-6979-8969-7959-6979-8959-6979-8969-7979-8949-5959-6989-11069-7949-5959-6979-8949-5969-7939-4979-8949-5979-8979-8969-7979-8969-7969-7979-8979-8969-7939-4959-6979-8969-7969-7979-8959-6969-7979-8939-4979-8969-7949-5989-11059-6939-4969-7979-8969-7959-6959-6979-8959-6969-7969-7979-8949-5969-7959-6969-7969-7979-8969-7979-8969-7949-5949-5959-6949-5969-7959-6959-6969-7969-7969-7959-6959-6959-6959-6969-7959-6979-8969-7969-7979-8959-6969-7979-8969-7969-7969-7969-7959-6969-7979-8969-7939-4959-6979-8949-5959-6969-7979-8959-6979-8959-6969-7969-7979-8939-4969-7969-7979-8969-7969-7959-6969-7979-8969-7979-8969-7969-7969-7969-7969-7959-6959-6979-8959-6989-11059-6979-8969-7979-8969-7979-8959-6969-7959-6979-8969-7959-6969-7979-8969-7979-8959-6979-8969-7959-6959-6959-6959-6921-2989-11079-8969-7979-8979-8969-7969-7979-8969-7979-8979-8969-7969-7969-7949-5979-8959-6969-7979-8959-6979-8969-7959-6969-7959-6979-8979-8979-8979-8979-8959-6979-8969-7959-6969-7969-7969-7979-8969-7979-8959-6969-7949-5979-8959-6979-8959-6979-8979-8969-7989-11059-6969-7979-8959-6949-5979-8969-7979-8949-5939-4969-7979-8989-11059-6969-7949-5979-8969-7979-8979-8929-3969-7969-7969-7969-7969-7969-7959-6969-7969-7979-8959-6969-7979-8969-7989-11059-6969-7969-7979-8969-7969-7969-7979-8969-7959-6959-6989-11089-11069-7969-7969-7969-7969-7969-7969-7959-6969-7969-7979-8979-8989-11039-4969-7969-7979-8979-8959-6949-5949-5979-8979-8949-5959-6959-6989-11069-7979-8959-6959-6959-6959-6969-7979-8979-8979-8979-8969-7969-7969-7969-7979-8969-7969-7979-8959-6969-7969-7959-6979-8959-6969-7959-6969-7969-7979-8979-8949-5979-8969-7949-5969-7979-8969-7989-11049-5959-6989-11059-6959-6979-8969-7989-11069-7969-7959-6959-6969-7969-7969-7959-6969-7969-7979-8969-7979-8979-8969-7979-8979-8979-8979-8959-6969-7969-7969-7959-6979-8939-4979-8979-8949-5969-7949-5979-8949-5979-8979-8969-7969-7959-6979-8989-11079-8959-6989-11049-5959-6989-11069-7979-8939-4979-8979-8969-7969-7979-8939-4979-8969-7969-7979-8959-6979-8979-8979-8959-6979-8959-6979-8969-7979-8969-7921-2969-7979-8949-5979-8939-4969-7959-6969-7949-5969-7969-7969-7969-7959-6969-7949-5969-7969-7969-7969-7959-6959-6969-7959-6969-7959-6989-11079-8959-6969-7969-7979-8959-6969-7979-8969-7969-7959-6949-5969-7979-8969-7969-7959-6949-5979-8979-8949-5969-7969-7969-7959-6979-8969-7969-7969-7959-6969-7959-6979-8959-6959-6979-8959-6979-8979-8969-7949-5959-6989-11069-7989-11069-7979-8969-7979-8979-8969-7959-6979-8969-7949-5969-7979-8979-8959-6979-8989-11079-8979-8979-8969-7969-7969-7969-7969-7979-8929-3979-8979-8969-7979-8969-7959-6979-8959-6969-7959-6979-8979-8969-7959-6959-6979-8979-8969-7979-8979-8979-8989-11069-7979-8969-7969-7939-4969-7969-7969-7979-8959-6979-8969-7979-8959-6979-8969-7939-4979-8979-8969-7949-5949-5979-8949-5969-7969-7969-7979-8959-6959-6979-8929-3979-8959-6969-7959-6939-4979-8929-3949-5969-7969-7979-8959-6969-7939-4979-8969-7959-6979-8979-8969-7969-7969-7959-6989-11069-7979-8959-6979-8969-7939-4969-7959-6969-7969-7979-8959-6959-6979-8979-8969-7979-8969-7959-6969-7979-8969-7969-7979-8949-5969-7979-8959-6969-7969-7969-7969-7959-6959-6989-11069-7959-6979-8969-7969-7969-7979-8969-7949-5959-6979-8969-7979-8959-6979-8969-7949-5949-5959-6969-7969-7979-8979-8979-8969-7959-6979-8969-7959-6979-8949-5969-7959-6969-7979-8979-8979-8979-8969-7979-8959-6939-4969-7969-7929-3939-4969-7979-8969-7959-6969-7969-7979-8979-8969-7969-7969-7939-4969-7939-4969-7959-6979-8979-8989-11069-7969-7949-5969-7929-3979-8939-4979-8969-7959-6979-8979-8979-8969-7969-7979-8969-7979-8959-6969-7969-7969-7959-6969-7979-8959-6979-8979-8969-7969-7979-8959-6979-8969-7979-8979-8989-11069-7949-5979-8959-6969-7959-6979-8959-6979-8979-8979-8979-8979-8989-11079-8969-7969-7969-7979-8969-7969-7969-7979-8959-6969-7989-11069-7969-7969-7989-11079-8969-7969-7959-6979-8979-8979-8969-7939-4959-6959-6959-6959-6969-7969-7979-8929-3969-7959-6979-8969-7979-8979-8959-6969-7979-8969-7989-11069-7969-7979-8969-7989-11079-8969-7979-8959-6979-8959-6969-7969-7959-6969-7949-5939-4979-8979-8959-6979-8979-8979-8969-7979-8959-6979-8969-7959-6969-7969-7979-8979-8969-7989-11049-5969-7969-7969-7979-8969-7979-8959-6969-7979-8939-4989-11049-5979-8979-8969-7969-7969-7969-7989-11079-8969-7979-8959-6969-7969-7989-11069-7989-11069-7969-7979-8979-8959-6969-7959-6949-5959-6969-7979-8979-8959-6979-8969-7959-6969-7969-7979-8969-7979-8969-7959-6979-8979-8949-5959-6959-6979-8979-8959-6969-7959-6939-4969-7989-11069-7949-5979-8969-7959-6979-8959-6979-8969-7979-8989-11079-8969-7979-8979-8959-6979-8969-7949-5969-7959-6969-7959-6949-5969-7939-4979-8979-8969-7979-8959-6959-6969-7989-11059-6969-7979-8979-8979-8939-4969-7969-7959-6949-5979-8969-7989-11059-6969-7959-6969-7979-8969-7969-7959-6969-7969-7921-2979-8969-7979-8969-7959-6959-6959-6989-11069-7969-7969-7979-8969-7979-8979-8979-8969-7969-7979-8979-8969-7969-7979-8979-8969-7969-7979-8989-11059-6939-4969-7969-7969-7969-7969-7979-8969-7969-7979-8939-4979-8969-7979-8979-8959-6969-7979-8969-7959-6959-6969-7959-6969-7969-7969-7979-8969-7979-8969-7969-7979-8959-6969-7989-11069-7969-7969-7979-8969-7979-8949-5979-8989-11059-6979-8949-5969-7979-8979-8989-11079-8979-8969-7969-7969-7959-6949-5989-11039-4959-6979-8969-7969-7959-6979-8979-8949-5959-6969-7969-7969-7979-8959-6959-6959-6969-7979-8979-8969-7979-8979-8979-8979-8979-8979-8959-6979-8979-8969-7959-6979-8949-5969-7979-8969-7969-7969-7969-7969-7939-4979-8979-8989-11069-7979-8969-7979-8979-8939-4949-5979-89' to numeric